@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600&display=swap');

.app {
	width: 100vw;
	height: 100vh;
	background-color: #f0f7f4;
}

* {
	font-family: 'Archivo', sans-serif;
}
